html {
    font-size: 625%;
    height: 100%;
}
body {
    overflow: hidden;
    height: 100%;
    background: #F0F0F1;
}

.centerContent {
    width: 100%;
    overflow-y: auto;
    top: 0;
    position: absolute;
    bottom: .54rem;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}
input::-webkit-input-placeholder {
    color: #A8A8A8;
}
input:focus {
    outline: none;
}
li, ul, ol {
    list-style: none;
}
a{
    text-decoration:none;
}

input,button,select,textarea {
    outline: none;
    line-height: initial;
}
